
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #30a1d0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
footer{
    background: #30a1d0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 40px;
    color: #212529;
    text-align: center;
}
.fixed-top {
    position:fixed;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #3700ff;
    border-color: #629ddb;
    z-index: 0;
}

.dropdown-menu {
    background: #30d0aa;
}

.active{
    background: #5bb7dd;
}

body {
    font-family: sans-serif;
}


/*a:hover {
  background-color: gold;
}*/
